@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

body {
  color: var(--body_color);
  font-family: 'abel', sans-serif;
  background-color: var(--body_background);
  cursor:
    var(--mouse) 20 20,
    auto;
  transition:
    background-color 1s,
    color 1s;
  /* overflow: hidden; */
}

a {
  color: var(--body_color);
  transition: color 0.5s;
}

svg path.calabrese {
  fill: var(--body_color);
}

.fade-in {
  animation: fadeIn 1s forwards;
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.horizontal-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/* For WebKit (Safari, Chrome, etc) */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--third_color);
  border-radius: 40%;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--body_color);
}

.blend-multiply {
  mix-blend-mode: luminosity;
}

.see-me {
  transition: opacity 0.3s ease-in-out;
}

.see-me:hover {
  opacity: 1;
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .photo-bg {
    background-image: var(--bg_xs);
    background-size: cover;
  }

  /* For WebKit (Safari, Chrome, etc) */
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--third_color);
    border-radius: 40%;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--body_color);
  }
}

.component-container {
  position: relative;
  backdrop-filter: blur(10px);
}
