@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

body {
  color: var(--body_color);
  font-family: 'cantarell-r', sans-serif;
  background-color: var(--body_background);
  cursor:
    var(--mouse) 20 20,
    auto;
  transition:
    background-color 1s,
    color 1s;
  overflow: hidden;
}

a {
  color: var(--body_color);
  transition: color 0.5s;
}

svg path.calabrese {
  fill: var(--body_color);
}

svg path.arrowBack {
  fill: var(--body_color);
}

.fade-in {
  animation: fadeIn 1s forwards;
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.horizontal-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/* For WebKit (Safari, Chrome, etc) */
::-webkit-scrollbar {
  width: 15px;
  height: 15px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--body_background); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: var(--third_color); /* color of the scroll thumb */
  border-radius: 50%; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--body_background); /* color of the scroll thumb on hover */
}

.blend-multiply {
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: hard-light; */
  mix-blend-mode: luminosity;
}

.see-me {
  transition: opacity 0.6s ease-in-out;
}

.see-me:hover {
  opacity: 1;
  font-size: 0.9rem;
}
