@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

body {
  color: var(--body_color);
  /* font-family: 'Barlow', sans-serif; */
  /* font-family: 'Abel', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--body_background);
  cursor: url('../assets/rose-xs.png'), auto;
  transition:
    background-color 0.5s,
    color 0.5s;
  overflow: hidden;
}

a {
  color: var(--body_color);
  transition: color 0.5s;
}

svg path.calabrese {
  fill: var(--body_color);
}

svg path.arrowBack {
  fill: var(--body_color);
}

.fade-in {
  animation: fadeIn 1s forwards;
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.horizontal-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/* For WebKit (Safari, Chrome, etc) */
::-webkit-scrollbar {
  width: 15px;
  height: 15px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--body_background); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: var(--link_color); /* color of the scroll thumb */
  border-radius: 50%; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--body_color); /* color of the scroll thumb on hover */
}

.blend-multiply {
  mix-blend-mode: difference;
  mix-blend-mode: hard-light;
  mix-blend-mode: luminosity;
}
