@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

body {
  color: var(--body_color);
  font-family: 'Barlow', sans-serif;
  font-family: 'Abel', sans-serif;
  background-color: var(--body_background);
  cursor: url('./assets/rose-xs.png'), auto;
}

svg path.calabrese {
  fill: var(--body_color);
}

svg path.arrowBack {
  fill: var(--body_color);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 2s forwards;
  animation-delay: 3s;
}

.loaderLogo {
  font-size: 9rem;
  font-family: 'calabrese';
  color: #f5ebf3;
  text-shadow:
    0 0 0 transparent,
    0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 1),
    0 0 40px #ff003c,
    0 0 100px #ff003c,
    0 0 200px rgba(255, 0, 60, 1),
    0 0 300px #ff003c,
    0 0 500px #ff003c,
    0 0 1000px #ff003c;
  animation: animate 4s;
}

@keyframes animate {
  20% {
    opacity: 0.2;
  }

  20.5% {
    opacity: 1;
  }

  21% {
    opacity: 0.9;
  }

  21.5% {
    opacity: 1;
  }

  22% {
    opacity: 0.7;
  }

  22.5% {
    opacity: 1;
  }

  23% {
    opacity: 0.9;
  }

  23.5% {
    opacity: 1;
  }

  24% {
    opacity: 0.8;
  }

  24.5% {
    opacity: 1;
  }

  25% {
    opacity: 0.8;
  }

  26% {
    opacity: 0.72;
  }

  29% {
    opacity: 0.9;
  }

  30% {
    opacity: 1;
  }

  39% {
    opacity: 1;
  }

  40% {
    opacity: 0.8;
  }
  44.5% {
    opacity: 1;
  }

  45% {
    opacity: 0.7;
  }

  51% {
    opacity: 1;
  }

  55% {
    opacity: 0.8;
  }

  60% {
    opacity: 1;
    text-shadow:
      0 0 0 transparent,
      0 0 10px #ff003c,
      0 0 20px rgba(255, 0, 60, 1),
      0 0 40px #ff003c,
      0 0 100px #ff003c,
      0 0 200px rgba(255, 0, 60, 1),
      0 0 300px #ff003c,
      0 0 500px #ff003c,
      0 0 1000px #ff003c;
  }
  64.5% {
    opacity: 0.9;
  }

  65% {
    opacity: 1;
  }

  59% {
    opacity: 0.8;
  }

  60% {
    opacity: 0.2;
  }

  61% {
    opacity: 1;
  }

  77% {
    opacity: 0.5;
    /* text-shadow:
      0 0 0 transparent,
      0 0 10px #ffffff,
      0 0 20px rgba(255, 255, 255, 1),
      0 0 40px #ffffff,
      0 0 100px #ffffff,
      0 0 200px rgba(255, 255, 255, 1),
      0 0 300px #ffffff,
      0 0 500px #ffffff,
      0 0 1000px #ffffff; */
  }
  78% {
    opacity: 1;
  }
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  position: relative;
  border: 1px solid var(--body_color);
  width: 7rem;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

nav a {
  color: var(--body_color);
  text-decoration: none;
  padding: 15px 0;
  display: block;
  position: relative;
  z-index: 1;
}

nav li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--link_color);
  z-index: -1; /* Place below the actual link */
  transition: height 0.3s;
}

nav li:hover::before {
  height: 100%;
}
