@font-face {
  font-family: 'abel';
  src: url('../assets/abel-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'schnorkelei';
  src: url('../assets/Schnorkelei.ttf') format('truetype');
}
@font-face {
  font-family: 'calabrese';
  src: url('../assets/C123456789-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'paranoia-calabrese';
  src: url('../assets/Paranoia-Regular.ttf') format('truetype');
}
