.fade-out {
  animation: fadeOut 1s forwards;
  animation-delay: 6.5s;
}
@keyframes fadeOut {
  from {
  }
  to {
    background-color: #f5ebf3;
  }
}

.loaderLogo {
  font-size: 20vh;
  font-family: 'calabrese';
  color: #f5ebf3;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #f5ebf31c);
  line-height: 18vh;
  outline: none;
  animation: animate 4s linear;
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    color: #031502;
    text-shadow: none;
  }
  70%,
  99.1% {
    color: #031502;
    text-shadow: none;
  }

  20%,
  69.9%,
  71.1%,
  99%,
  100% {
    color: #f5ebf3;
    text-shadow:
      0 0 20px #85c1d3c7,
      0 0 40px #94ddf3c7,
      0 0 80px #58cef2c7,
      0 0 160px #ebf5f8c7;
  }
}

.loaderLogo2 {
  font-size: 20vh;
  font-family: 'calabrese';
  color: #f5ebf3;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #f5ebf31c);
  line-height: 18vh;
  outline: none;
  animation: animate2 4s linear;
  animation-fill-mode: forwards;
}
@keyframes animate2 {
  0% {
    color: #031502;
    text-shadow: none;
  }
  80%,
  99.1% {
    color: #031502;
    text-shadow: none;
  }
  0%,
  30%,
  79.9%,
  81.1%,
  99%,
  100% {
    color: #f5ebf3;
    text-shadow:
      0 0 20px #85c1d3c7,
      0 0 40px #94ddf3c7,
      0 0 80px #58cef2c7,
      0 0 160px #ebf5f8c7;
  }
}
